@use 'variables' as *;
@use 'posts';
@use 'post';
@use 'about';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    width: 40%;
}

.title {
    text-align: center;
}

.separator {
    width: 100%;
    margin: 15px 0;
    color: $primary-color;
}
