@use 'src/styles/variables' as *;

.button {
    margin: 5px 0;
    padding: 5px 15px;
    font-size: 14px;
    background: transparent;
    border: $ui-border;
    border-radius: $ui-border-radius;
    cursor: pointer;
}
